@use "reusable" as *;

header {
  nav {
    padding-top: 55px;
  }

  .btn {
    padding: 12.5px 60px;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  .navbar__left {
    gap: 95px;
  }

  .navbar__left_links {
    align-self: center;
  }

  .navbar__left_logo__analytics {
    padding-bottom: 8px;
  }

  .links {
    gap: 36px;
  }

  .navbar--responsive {
    display: none;
  }

  .navbar {
  }

  @include for-any-size(1234px) {
    .navbar--responsive {
      display: block;
    }

    .navbar {
      display: none;
    }
  }

  .links--responsive {
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    li {
      margin-top: 20px;
    }
  }

  #nav-check {
    display: none;
  }

  .navbar--responsive__left {
    gap: 20vw;
  }

  .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  #nav-check:not(:checked) ~ .links--responsive {
    height: 0px;
  }
  #nav-check:checked ~ .links--responsive {
    height: calc(80vh - 90px);
    overflow-y: auto;
  }

  @include for-any-size(755px) {
    .navbar--responsive__left {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .hero__right {
    position: relative;
    @include for-any-size(1620px) {
      img {
        width: 45vw;
      }
    }
  }

  .hero__left {
    margin-top: 70px;

    button {
      margin-top: 50px;
    }
  }

  .hero {
    gap: 150px;
    margin-top: 80px;
  }

  .hero__right--circleChart {
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    bottom: 0;

    transform: translate3d(-70px, 0, 0);
  }

  .header_slantedBG {
    z-index: -1;
    position: absolute;
    display: block;
    width: 100vw;
    transform: scale(185%, 185%);
  }

  @include for-any-size(500px) {
    .hero {
      p {
        font-size: var(--mobile-p-font-size);
        line-height: var(--mobile-p-line-height);
        width: var(--mobile-p-width);
      }
    }
  }

  @include for-any-size(1166px) {
    .hero {
      flex-direction: column-reverse;
      text-align: center;
      gap: 5px;
      h1 {
        font-size: 6.5vw;
      }
    }

    .hero__right--circleChart {
      display: none;
    }

    .header_slantedBG {
      display: none;
    }
  }
}

@include for-any-size(1166px) {
  header {
    background-color: var(--color-primary);
    border-bottom: 15px solid var(--color-secondary);

    h1 {
      margin: 0 auto;
    }

    p {
      max-width: 50ch;
      margin: 0 auto;
    }
  }
}
